.header {
  position: fixed;
  top: 0;
  z-index: 100;
  background: linear-gradient(45deg, rgb(96, 158, 209), rgb(3, 59, 112));
  box-shadow: -5px 10px 10px -7px rgba(0, 0, 0, 0.75);
  height: 6em;
  width: 100vw;
  display: flex;
  justify-content: right;
}

.header-spacing {
  height: 6em;
  width: 6em;
  background: none;
}
