.header {
  overflow: hidden;
  position: sticky;
  background: linear-gradient(45deg, rgb(96, 158, 209), rgb(3, 59, 112));
  z-index: 100;
  box-shadow: -5px 10px 10px -7px rgba(0, 0, 0, 0.75);
  height: 70px;
  padding-top: 0px;
  padding-right: 15px;
}
.header_right {
  float: right;
}
