@font-face {
  font-family: cafe;
  src: url("../font/Cafe\ Francoise_D.otf") format("opentype");
}
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 2em;
  height: 87vh;
  overflow: hidden;
}
.feed_title_container {
  margin-top: 2em;
}
.feed_title_text {
  font-size: 3rem;
  font-family: cafe;
  font-weight: 900;
}
.feed_posts {
  width: 80%;
  padding: 1em;
  height: auto;
  overflow-y: auto;
}
@media (max-width: 550px) {
  .feed_posts {
    width: 90%;
  }
}
